<!DOCTYPE HTML>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../assets/css/styles.css" />
  <link rel="stylesheet" href="../assets/css/habilidades.css">
  <title>Habilidades</title>
</head>

<body>
  <div class="container">
    <header id="header-habilidades">
      <input type="checkbox" id="icono-menu">
      <label for="icono-menu">
        <img src="../assets/images/icono_menu.png" alt="icono" width="50" />
      </label>
    </header>

    <nav id="menu">
      <img src="../assets/images/fondo.jpg">
      <ul>
        <div id="menu-items">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="./sobreMi.html">Sobre mi</a></li>
          <li><a href="./portafolio.html">Portafolio</a></li>
          <li><a href="./habilidades.html">Habilidades</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </div>
      </ul>
    </nav>

    <div id="contenedor">
      <div class='titulos'>
        <h2>Habilidades</h2>
      </div>
    </div>
  </div>

  <div class='clearfix'></div>

  <div id='habilidades'>

    <div>
      <label>HTML/CSS</label>
      <progress value="75" max="100">
      </progress>
    </div>

    <div>
      <label>Bootstrap</label>
      <progress value="55" max="100">
      </progress>
    </div>

    <div>
      <label>PHP</label>
      <progress value="45" max="100">
      </progress>
    </div>

    <div>
      <label>JQuery</label>
      <progress value="65" max="100">
      </progress>
    </div>

    <div>
      <label>MYSQL</label>
      <progress value="65" max="100">
      </progress>
    </div>

    <div>
      <label>TypeScript</label>
      <progress value="45" max="100">
      </progress>
    </div>


    <div>
      <label>Angular</label>
      <progress value="15" max="100">
      </progress>
    </div>
  </div>

  <div class='clearfix'></div>

  <div class="apartados">

    <!--Tecnologias conocidas-->
    <div id="tecnologias">
      <div class='titulos'>
        <h2>Tecnologías</h2>
      </div>
      <div class="iconos-tecnologia">
        <div class="icons-tech">
          <a href='https://angular.io/' target="_blank"><img src='../assets/images/angular.png' /></a>
        </div>
        <div class="icons-tech">
          <a href='https://getbootstrap.com/' target="_blank"><img src='../assets/images/bootstrap.png' /></a>
        </div>
        <div class="icons-tech">
          <a href='https://jquery.com/' target="_blank"><img src='../assets/images/jquery.png' /></a>
        </div>
        <div class="icons-tech">
          <a href='https://www.mysql.com/' target="_blank"><img src='../assets/images/mysql.png' /></a>
        </div>
        <div class="icons-tech">
          <a href='https://www.typescriptlang.org/' target="_blank"><img src='../assets/images/typescript.png' /></a>
        </div>
        <div class="icons-tech">
          <a href='https://www.php.net/' target="_blank"><img src='../assets/images/php.png' /></a>
        </div>
      </div>

    </div>

    <!-- Links de portafolios y acerca de Mi -->
    <div id='links'>
      <div class='titulos'>
        <h2>Links</h2>
      </div>
      <ul>
        <li><a href='../index.html'>Inicio</a></li>
        <li><a href='sobreMi.html'>Sobre Mi</a></li>
        <li><a href='portafolio.html'>Portafolio</a></li>
      </ul>
    </div>

    <!-- Contactos Personales -->
    <div id='contactos'>
      <div class='titulos'>
        <h2>Contáctame</h2>
      </div>
      <ul>
        <li><a href='#'>Asunción - Paraguay</a></li>
        <li><a href="tel:+595991470681">+595 991470681</a></li>
        <li><a href='mailTo: ricardomelida92@gmail.com'>ricardomelida92@gmail.com</a></li>
      </ul>
    </div>

  </div>

  <script src="../assets/js/jquery-3.4.0.js"></script>
  <script src='../assets/js/main.js'></script>
</body>

</html>