<!DOCTYPE HTML>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../assets/css/styles.css" />
  <title>Portafolio</title>
</head>
<body>
  <div class="container">
    <header>
      <input type="checkbox" id="icono-menu">
      <label for="icono-menu">
        <img src="../assets/images/icono_menu.png" alt="icono" width="50" />
      </label>
    </header>

    <nav id="menu">
      <img src="../assets/images/fondo.jpg">
      <ul>
        <div id="menu-items">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="./sobreMi.html">Sobre mi</a></li>
          <li><a href="./portafolio.html">Portafolio</a></li>
          <li><a href="./habilidades.html">Habilidades</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </div>
      </ul>
    </nav>
  
    <div id="contenedor">
    <p>
      Hola soy
    </p>
    <p>
      Ricardo Mélida
    </p>
    
    <div id="correo">
      <span>
      <img src="../assets/images/correo.png" width="15">
        ricardomelida92@gmail.com
      </span>
    </div>
    
    <div id="direccion">
      <span>
     <img src="../assets/images/ubicacion.png" width="15">
       Asunción-Paraguay
      </span>
    </div>
    
    <div id="redes">
      <a href="#">
        <img src="../assets/images/github.png">
      </a>
    
      <a href="#">
        <img src="../assets/images/facebook.png" alt="">
      </a>
    
      <a href="#">
        <img src="../assets/images/twitter.png" alt="">
      </a>
    </div>
    
    <div id='cv'>
    		<p><a href='#'>Descargar CV</a></p>
    </div>
  </div>
  
  </div>
  <div class='clearfix'></div>
  <div class='titulos'>
  	<h2>Tecnologías</h2>
  </div>
  <div class='clearfix'></div>
  
  <div id="tecnologias">
  	<div>
  		<a href='#'><img src='../assets/images/angular.png'/></a>
  	</div>
  	<div>
  		<a href='#'><img src='../assets/images/bootstrap.png'/></a>
  	</div>
  	<div>
  		<a href='#'><img src='../assets/images/jquery.png'/></a>
  	</div>
  	<div>
  		<a href='#'><img src='../assets/images/mysql.png'/></a>
  	</div>
  	<div>
  		<a href='#'><img src='../assets/images/typescript.png'/></a>
  	</div>
  	<div>
  		<a href='#'><img src='../assets/images/php.png'/></a>
  	</div>
  </div>
  
  
  <!--Links de portafolios y acerca de Mi-->
  <div class='titulos'>
  	<h2>Links</h2>
  </div>
  <div id='links'>
  	<ul>
  		<li><a href='../index.html'>Inicio</a></li>
  		<li><a href='#' >Portafolio</a></li>
  		<li><a href='sobreMi.html'>Sobre Mi</a></li>
  	</ul>
  </div>
  
  <div class='titulos'>
  	<h2>Contáctame</h2>
  </div>
  <div id='contactos'>
  	<ul>
  		<li><a href='#'>Asunción - Paraguay</a></li>
  		<li><a href='#'>+595 991470681</a></li>
  		<li><a href='#'>ricardomelida92@gmail.com</a></li>
  	</ul>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src='../assets/js/main.js'></script>
</body>
</html>



