header {
	

}
#header-habilidades {
	background: rgba(240, 255, 255, 0.8);
	height: 25vh;
	background: #008B8B !important;
}

#habilidades {
	margin: auto;
}

#habilidades div{
	padding: 10px;
}
#habilidades div label{
	color: red;
}
progress {
	width: 60%;
	display: block;
	background-color: #f3f3f3;
	border: 1px solid #000;
	height: 25px;
	border-radius: 25px;
	padding: 2px 5px;
}

progress::-webkit-progress-bar {
	background-color: #f3f3f3;	
	border-radius: 25px;
}
 
progress::-webkit-progress-value {	
	background: #bbdfdf;	
}


#contenedor .titulos{
	margin-top: -17px;
	padding-top: 5%;
	height: 25vh;
	background: #008B8B;	

}

@media(min-width: 1250px) {
	#habilidades div {
		margin-left: 25%;
	}

	#habilidades {
		margin: 15% auto;
	}

}


