#header-habilidades {
	background: rgba(240, 255, 255, 0.8);
	height: 15vh;
	background: #008B8B !important;
}

#habilidades {
	margin: 5% auto;
}

#habilidades div{
	padding: 15px;
}
#habilidades div label{
	color: red;
	margin-left: 20%;

}
progress {
	width: 80%;
	display: block;
	background-color: #f3f3f3;
	border: 1px solid #000;
	height: 25px;
	border-radius: 25px;
	padding: 2px 5px;
	margin: auto;
}

progress::-webkit-progress-bar {
	background-color: #f3f3f3;	
	border-radius: 25px;
}
 
progress::-webkit-progress-value {	
	background: #bbdfdf;	
}


#contenedor .titulos {
	background: #008b8b;
  } 
  
  #contenedor .titulos h2 {
	margin-left: 0;
  }

@media(min-width: 1250px) {


	#habilidades div {
		margin-left: 25%;
	}

	#habilidades {
		margin: 10% auto;
	}

	.container {
		background: #b9ffff;	
	}
	#contenedor .titulos {
		background: #b9ffff;	
	}
	#menu {
		border: solid 1px rgb(71, 70, 70);
	}

	#contenedor .titulos h2 {
		font-size: 28px;
		margin: 5% 35%;
	}

}


