#header-port, #contenedor {
	background: rgba(240, 255, 255, 0.8);
}
.projects {
    margin: 20% 0;
    padding: 0;
    width: 90%;
    height: 40vh;
    background: url('../images/projects/panambireta.jpg') 50% 50% no-repeat;
    background-size: cover;
}
