#header-port, #contene {
    background: rgba(240, 255, 255, 0.8);
    
}


.projects {
    position: relative;
    margin-right: 20%;
}

.name-project {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name-project a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.projects img {
    width: 100%;
    height: auto;
    opacity: 0.5;
    padding: 20px 0;
}


@media(min-width: 1250px) {

    #contene {
        height: 19vh;
        background: #b9ffff;
        border-bottom: 2px solid #000;
    }
    
	#contene .titulos {
        background: #b9ffff;	
    }

    #contene .titulos h2 {
		font-size: 28px;
        margin: 0% 35%;
        padding: 2.3% 0;
	}

    #contenedor {
        width: 80%;
    }

    #contenedor .projects {
        margin: auto;
        width: 50%;
    }

    .name-project a {
        font-size: 18px;
    }
    .apartados {
        margin: 15% 5% 0 auto;
    }
}