body {
  background-color: #95c2de;
}

.mainbox {
  background-color: #95c2de;
  height: 90vh;
  width: 100%;
}
.mainbox .error {
  width: 90%;
  margin: auto;
  text-align: center;
}

.error .err {
  display: inline;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 9rem;
}

.error .far {
  display: inline;
  font-size: 6.5rem;
  color: #ffffff;
}

.error .err2 {
  display: inline;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 9rem;
}

.msg {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}
