@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

 #header-habilidades {
	height: 15vh !important;
} 

#contenedor .titulos{
	height: 15vh;
	background: #008B8B;	

}

.titulos h2 {
	margin-left: 5%;
	padding-top: 20px;
}

.titulos h3 {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 23px;
	margin-left: 33%;
	margin-top: -25px;
	text-decoration: underline;
}

.titulos h2 a, h3 a{
	color: black;
}


#header-habilidades {
	background: rgba(240, 255, 255, 0.8);
	height: 20vh;
	background: #008B8B !important;
}

#slider_princ {
	width: 80%;
	overflow: hidden;
	margin: 5% auto;
}

#slider_princ #slider_sec {
	display: flex;
	width: 300%;
}

#slider_sec .img{
	width: 80%;
}

.img img {
	width: 100%;
	height: 35vh;
}

.des_project {
	margin: 10% auto;
	width: 90%;
}

.des_project h3{
	text-align: left;
	padding: 10px 0 ;
	font-size: 1.2em;
	font-weight: bold;
	font-family: Poppins,Arial,sans-serif;
	text-align: center;
}

.detalles {
	margin-left: 12%;
}
.detalles section{
	padding: 10px 0;
}

.detalles section span {
	font-weight: bold;
}

.detalles section label a {
	color: rgb(66, 191, 207);

}

@media(min-width: 1250px) {
	#contenedor .titulos{
		background: #b9ffff;	
		margin-top: 7%;
		margin-bottom: -10%;
	}
	
	#contenedor .titulos h2{
		font-size: 32px;
	} 

	.titulos h3 {
		margin-left: 55%;
		margin-top: -38px;
		font-size: 32px;
	}

	.container {
		background: #b9ffff;
		text-align: center;	
	
	}
	#slider_princ #slider_sec img{
		margin-left: 17%;
	}
	.img img {
		width: 40%;
		height: 40vh;
	}

	.des_project {
		max-width: 30%;
		position: absolute;
		top: 10%;
		left: 60%;
	}

	.detalles {
		margin-left: 18%;
	}

	#tecnologias .titulos h2 {
		margin-left: 25%;
	}
}