@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

 #header-habilidades {
	height: 15vh !important;
} 
#contenedor .titulos{
	/* margin-top: -16px;
	padding-top: 5%; */
	height: 15vh;
	background: #008B8B;	

}

#header-habilidades {
	background: rgba(240, 255, 255, 0.8);
	height: 20vh;
	background: #008B8B !important;
}

#slider_princ {
	width: 80%;
	overflow: hidden;
	margin: 5% auto;
}

#slider_princ #slider_sec {
	display: flex;
	width: 300%;
}

#slider_sec .img{
	width: 100%;
}

.img img {
	width: 100%;
	height: 35vh;
}

.des_project {
	margin: 10% auto;
	width: 90%;
}

.des_project h3{
	text-align: left;
	padding: 10px 0 ;
	font-size: 1.2em;
	font-weight: bold;
	font-family: Poppins,Arial,sans-serif;
	/* font-family: 'Playfair Display', serif; */
}

.detalles section{
	padding: 10px 0;
}

.detalles section span {
	font-weight: bold;
}

.detalles section label a {
	color: rgb(66, 191, 207);

}