#contenedor #sobreMi p{
	margin-top: -10;
	font-size: 18px;
}
#images-sm{
	display: none;
}

#est-exp {
	width:100%;
}

#estudios section {
	width: 75%;
	margin: 10% 0%;
	border-bottom: 1px solid gray;
	margin-left: 10%;
}
#estudios section h3, h4, h5{
	text-align: left;
	margin: 2% 10%;
}

#estudios section p {
	margin: 5%;

}

#images {
	display: none;
  }
  
/* -------------------------------- TAMAÑO DE ESCRITORIO  ------------------------ */

@media(min-width: 1250px) {

	#contenedor {
		margin-left: 68%;
	}

	#contenedor #sobreMi p{
		margin-top: 0;
		width: 50%;
	}
	#estudios section {
		width: 60%;
		margin: 5% 25%;
		margin-left: 25%;
	}

	#images-sm {
		display: initial;
		position: absolute;
		top: 0;
		right: 60%;
		margin-top: 0;
		display: inline;
		width: 20%;
	  }
	
	  #images-sm .section-image-sm {
		display: flex;
		width: 200%;
	  }
	
	  #images-sm .section-image-sm img {
		width: 100%;
		height: 109vh;
		display: block;
		margin: -11% auto;
		opacity: 0.7;
	  }
	  .titulos h2 {
		  margin-top: 3%;
	  }
}





