#contenedor #sobreMi p{
	margin-top: -10%;
	font-size: 18px;

}

#est-exp {
	width:100%;
}

#estudios section {
	width: auto;
	margin: 10% 0%;
	border-bottom: 0.5px solid gray;
	margin-left: 10%;
}
#estudios section h3, h4, h5{
	text-align: left;
	margin: 2% 10%;

}

#estudios section p {
	margin: 5%;

}





