/*--------------   Estilos generales  -----------------*/
body {
  background: rgba(240, 255, 255, 0.8);
}

* {
  margin: 0px;
  padding: 0px;
}

.titulos,
#links,
#contactos {
  background: rgb(240, 255, 255);
}

.titulos {
  width: 100%;
  height: 15vh;
}

.titulos h2 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 23px;
  text-decoration: underline;
  display: block;
  margin-left: 30%;
  padding-top: 10px;
}

/*--------------   Estilos de Cabeceras  -----------------*/

header input {
  display: none;
}

header label img {
  display: block;
  margin: auto;
}

header {
  float: left;
  width: 20%;
  height: 100vh;
  background: #008b8b;
}

.clearfix {
  clear: both;
  float: none;
}

/*--------------   Contenedor Principal  -----------------*/
.container {
  width: 100%;
  overflow: hidden;
}

/*--------------   Menu  -----------------*/
#menu {
  position: absolute;
  left: 0%;
  width: 80%;
  height: 100vh;
  margin-left: -80%;
  background: rgba(240, 255, 255, 0.8);
}

#menu ul {
  display: block;
  margin-top: 10%;
  margin-left: auto;
  width: 100%;
}

#menu ul #menu-items {
  display: flex;
  flex-direction: column;
  margin: 0;
}

#menu ul #menu-items li {
  /* background: red; */
  list-style: none;
  padding: 5% 0;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu img {
  display: block;
  margin: auto;
  margin-top: 10%;
  height: 115px;
  width: 120px;
  border: 2px solid #000;
  border-radius: 90px;
}

ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

/*--------------   Datos Personales Principal  -----------------*/
.principales {
  width: 100%;
  height: auto;
}

#contenedor {
  margin-left: 20%;
  width: 80%;
  background: rgba(240, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.8);
}

#contenedor p:first-child {
  padding-top: 15%;
}

#contenedor p {
  padding: 0 10%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 23px;
}

#contenedor #correo {
  margin: 10% 0 0 10%;
  font-size: 12px;
  padding-bottom: 5%;
}

#contenedor #direccion {
  margin-left: 10%;
  font-size: 12px;
}

#contenedor #redes {
  margin: 15%;
}

#contenedor #redes a img {
  width: 30px;
  border-radius: 40%;
}

#images {
  display: none;
}

#redes a {
  text-decoration: none;
  padding: 5%;
}

.mover-content {
  transition: all 0.5s;
  transform: translateX(100%);
}

#cv {
  margin-top: auto;
}

#cv p {
  padding: 10%;
}

#cv p a {
  text-decoration: none;
  margin: 0;
}

/*--------------   Tecnologias  -----------------*/
.apartados {
  width: 80%;
  height: auto;
}

#tecnologias {
  width: 100%;
  height: auto;
  background: rgb(240, 255, 255);
  margin-left: 20%;
}

#tecnologias .titulos {
  margin-left: -20%;
}

#tecnologias div a img {
  width: 55px;
  height: 55px;
}

.iconos-tecnologia {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 0;
}

/*--------------   Links y enlaces  -----------------*/
#links,
#contactos {
  padding: 5%;
  margin-bottom: 10%;
}

#links ul,
#contactos ul {
  list-style: none;
  margin: 0 15%;
}

#links ul li {
  list-style-image: url("../images/ok.png");
  padding: 5% 0px;
  border-bottom: 0.5px solid #000;
}

#links ul li a,
#contactos ul li a {
  font-size: 16px;
}

#selec-item a{
  border-bottom: 2px solid black

}

/*-------------------   Contactos  --------------------*/
#contactos ul li:nth-child(1) {
  list-style-image: url("../images/ubi.png");
  padding: 5%;
}

#contactos ul li:nth-child(2) {
  list-style-image: url("../images/tele.png");
  padding: 5%;
}

#contactos ul li:nth-child(3) {
  list-style-image: url("../images/corre.png");
  padding: 5%;
}

/*----------------------   Footer  ---------------------*/
footer {
  padding: 5%;
  background: rgb(0, 139, 139);
  text-align: center;
}

footer span {
  font-size: 15px;
}

/* -------------------------------- TAMAÑO DE ESCRITORIO  ------------------------ */

@media (min-width: 1250px) {
  label img {
    display: none;
  }

  .container {
    max-width: 100%;
  }

  header {
    background: none;
  }

  #menu {
    position: fixed;
    width: 20%;
    background: rgb(0, 139, 139);
    margin-left: 0px;
  }

  #menu ul {
    margin-top: 10%;
  }

  #menu ul li a:hover {
    background-size: 100% 2px;
  }

  .container {
    border-bottom: 2px solid #000;
  }

  #contenedor {
    width: 40%;
  }

  #contenedor p:first-child {
    font-size: 32px;
    padding-top: 10%;
  }

  #contenedor #redes {
    margin-top: 17%;
  }

  #contenedor #correo,
  #contenedor #direccion {
    font-size: 19px;
  }

  #cv {
    margin: -40% auto;
  }

  #cv p a {
    font-size: 21px;
    padding: 15px;
  }

  #cv p a:hover {
    /* animation: subraya 1s forwards; */
    /* background: #000; */
    background-size: 80% 2px;
  }

  /*---- Imagenes tipo banner del container ------*/
  #images {
    position: absolute;
    top: 0;
    left: 60%;
    margin-top: 0;
    display: inline;
    width: 20%;
  }

  #images .section-image {
    display: flex;
    width: 200%;
  }

  #images .section-image img {
    width: 100%;
    height: 109vh;
    display: block;
    margin: -11% auto;
    opacity: 0.7;
  }

  /*--- Sector de datos personales -----*/
  .apartados {
    display: flex;
    width: 80%;
    height: auto;
    margin: 0 5% 0 auto;
  }

  #tecnologias,
  #links,
  #contactos {
    padding: 0;
  }

  #tecnologias {
    margin-left: 10%;
    /*background: red;*/
    flex-basis: 30%;
  }

  .icons-tech a {
    padding: 5px;
    width: 30%;
  }

  #links {
    flex-basis: 30%;
  }

  #contactos {
    flex-basis: 30%;
  }

  footer {
    background: rgba(240, 255, 255, 0.8);
    padding: 5%;
    margin-left: 20%;
  }
}

@keyframes subraya {
  0% {

    border: solid 3px rgba(0, 0, 0, 0.1);
  }
  25% {
    border: solid 3px rgba(0, 0, 0, 0.25);
  }

  50% {
    border: solid 3px rgba(0, 0, 0, 0.5);
  }

  75% {
    border: solid 3px rgba(0, 0, 0, 0.75);
  }

  100% {
    border: solid 3px rgba(0, 0, 0, 0.1);
  }
}
