<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../assets/css/proceso.css">
    <title>Proyectos</title>
</head>

<body>

    <div class="mainbox">
        <div class="err">4</div>
        <i class="far fa-question-circle fa-spin"></i>
        <div class="err2">4</div>
        <div class="msg">
            ¿Quizás esta página se movió? ¿Fue eliminado? ¿Es esconderse en cuarentena? Nunca existió en la primera
             sitio?
            <p>
                Let's go
                <a href="../../index.html">Inicio</a> y prueba desde ahí.
            </p>
        </div>
    </div>
</body>

</html>